In [2]:
### Import necessary libraries

import pandas as pd

#### Extraction

In [28]:


ziko_df = pd.read_csv(r"ziko_logistics_data.csv")

In [16]:
ziko_df.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Quantity,Unit_Price,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,...,Return_Reason,Payment_Type,Taxable,Region,Country,Customer_Name,Customer_Phone,Customer_Email,Customer_Address,Product_List_Title
0,200,2020-01-01 20:32:25.945945945,1086,536,3,120.436821,8265.374549,0.20,Online,High,...,Wrong Item,Wire Transfer,False,West,Canada,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA",Product 53
1,321,2020-01-02 06:55:08.108108108,1078,523,6,475.724994,4047.850479,NaN,Reseller,Critical,...,Damaged,PayPal,True,South,Mexico,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA",Product 33
2,989,2020-01-06 08:12:58.378378378,1077,535,3,146.400556,NaN,0.05,Direct,Critical,...,Damaged,PayPal,True,West,Canada,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA",Product 6
3,682,2020-01-07 22:03:14.594594594,1027,546,6,19.373194,8194.281993,NaN,Reseller,Medium,...,Wrong Item,Cash,True,South,Canada,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA",Product 68
4,484,2020-01-07 07:08:06.486486486,1052,556,8,193.221313,8331.329249,0.20,Direct,Low,...,Late,Cash,False,South,Mexico,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA",Product 89

In [17]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             904 non-null    float64
 6   Total_Cost             905 non-null    float64
 7   Discount_Rate          714 non-null    float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          904 non-null    object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB

In [18]:
print (ziko_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             904 non-null    float64
 6   Total_Cost             905 non-null    float64
 7   Discount_Rate          714 non-null    float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          904 non-null    object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB
None

In [19]:
ziko_df.columns

Index(['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Quantity',
       'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel',
       'Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status',
       'Customer_Satisfaction', 'Item_Returned', 'Return_Reason',
       'Payment_Type', 'Taxable', 'Region', 'Country', 'Customer_Name',
       'Customer_Phone', 'Customer_Email', 'Customer_Address',
       'Product_List_Title'],
      dtype='object')

#### Exploration

In [9]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             904 non-null    float64
 6   Total_Cost             905 non-null    float64
 7   Discount_Rate          714 non-null    float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          904 non-null    object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB

In [20]:
ziko_df.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Quantity,Unit_Price,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,...,Return_Reason,Payment_Type,Taxable,Region,Country,Customer_Name,Customer_Phone,Customer_Email,Customer_Address,Product_List_Title
0,200,2020-01-01 20:32:25.945945945,1086,536,3,120.436821,8265.374549,0.20,Online,High,...,Wrong Item,Wire Transfer,False,West,Canada,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA",Product 53
1,321,2020-01-02 06:55:08.108108108,1078,523,6,475.724994,4047.850479,NaN,Reseller,Critical,...,Damaged,PayPal,True,South,Mexico,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA",Product 33
2,989,2020-01-06 08:12:58.378378378,1077,535,3,146.400556,NaN,0.05,Direct,Critical,...,Damaged,PayPal,True,West,Canada,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA",Product 6
3,682,2020-01-07 22:03:14.594594594,1027,546,6,19.373194,8194.281993,NaN,Reseller,Medium,...,Wrong Item,Cash,True,South,Canada,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA",Product 68
4,484,2020-01-07 07:08:06.486486486,1052,556,8,193.221313,8331.329249,0.20,Direct,Low,...,Late,Cash,False,South,Mexico,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA",Product 89

In [29]:
### Creating a copy of the dataframe

ziko_df2 = ziko_df.copy()

In [25]:
ziko_df2.info

<bound method DataFrame.info of       Transaction_ID                           Date  Customer_ID  Product_ID  \
0                200  2020-01-01 20:32:25.945945945         1086         536
1                321  2020-01-02 06:55:08.108108108         1078         523
2                989  2020-01-06 08:12:58.378378378         1077         535
3                682  2020-01-07 22:03:14.594594594         1027         546
4                484  2020-01-07 07:08:06.486486486         1052         556
...              ...                            ...          ...         ...
1000             250  2020-01-05 02:22:42.162162162         1095         533
1001             412  2020-01-07 11:27:34.054054054         1008         542
1002             816  2020-01-06 02:48:38.918918918         1060         511
1003             702  2020-01-09 08:38:55.135135135         1054         504
1004               4  2020-01-03 10:22:42.162162162         1018         545

      Quantity  Unit_Price   Total_Cost  Discount_Rate Sales_Channel  \
0            3  120.436821  8265.374549           0.20        Online
1            6  475.724994  4047.850479            NaN      Reseller
2            3  146.400556          NaN           0.05        Direct
3            6   19.373194  8194.281993            NaN      Reseller
4            8  193.221313  8331.329249           0.20        Direct
...        ...         ...          ...            ...           ...
1000         5  490.760429  1138.724711            NaN      Reseller
1001         9  236.240910  1786.865600           0.10        Online
1002         6         NaN  6443.682500           0.20       Partner
1003         6         NaN  4814.744796            NaN        Online
1004         2  248.937627  1971.790456           0.20        Direct

     Order_Priority  ...  Return_Reason   Payment_Type Taxable Region  \
0              High  ...     Wrong Item  Wire Transfer   False   West
1          Critical  ...        Damaged         PayPal    True  South
2          Critical  ...        Damaged         PayPal    True   West
3            Medium  ...     Wrong Item           Cash    True  South
4               Low  ...           Late           Cash   False  South
...             ...  ...            ...            ...     ...    ...
1000         Medium  ...        Damaged    Credit Card    True  South
1001         Medium  ...  Not Specified           Cash    True  South
1002         Medium  ...  Not Specified           Cash   False   West
1003         Medium  ...        Damaged           Cash    True   West
1004            Low  ...  Not Specified           Cash    True   East

      Country Customer_Name   Customer_Phone               Customer_Email  \
0      Canada  Customer 200  +1-652-572-9306  customer.200.78@example.com
1      Mexico  Customer 321  +1-311-186-5760   customer.321.13@sample.com
2      Canada  Customer 989  +1-922-606-9032  customer.989.99@example.com
3      Canada  Customer 682  +1-237-853-5808     customer.682.66@demo.com
4      Mexico  Customer 484  +1-986-360-9109    customer.484.3@sample.com
...       ...           ...              ...                          ...
1000   Canada  Customer 250  +1-875-504-2878   customer.250.26@sample.com
1001      USA  Customer 412  +1-645-470-5077   customer.412.80@sample.com
1002   Mexico  Customer 816  +1-162-396-1771   customer.816.55@sample.com
1003   Canada  Customer 702  +1-130-713-1098   customer.702.30@sample.com
1004   Canada    Customer 4  +1-756-713-6966     customer.4.99@sample.com

                     Customer_Address Product_List_Title
0         275 Second St, Phoenix, USA         Product 53
1         478 Third St, New York, USA         Product 33
2         843 Second St, Phoenix, USA          Product 6
3           153 Main St, Phoenix, USA         Product 68
4        264 Second St, New York, USA         Product 89
...                               ...                ...
1000        664 Main St, Chicago, USA         Product 16
1001       699 Third St, Houston, USA         Product 38
1002  453 Fourth St, Los Angeles, USA         Product 48
1003      438 Fourth St, Houston, USA         Product 38
1004       383 Park Ave, Houston, USA         Product 16

[1005 rows x 25 columns]>

#### Issues Identified

1. Missing values:

    Unit_Price             904 non-null    float64
    Total_Cost             905 non-null    float64
    Discount_Rate          714 non-null    float64
    Return_Reason          904 non-null    object 

2. Wrong data type:

    Date                   1005 non-null   object

In [30]:
ziko_df2.fillna ({
    "Unit_Price" : ziko_df2["Unit_Price"].mean(),
    "Total_Cost" : ziko_df2["Total_Cost"].mean(),
    "Discount_Rate" : 0.0,
    "Return_Reason" : "Unknown"
}, inplace=True)

In [31]:
ziko_df2.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Quantity,Unit_Price,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,...,Return_Reason,Payment_Type,Taxable,Region,Country,Customer_Name,Customer_Phone,Customer_Email,Customer_Address,Product_List_Title
0,200,2020-01-01 20:32:25.945945945,1086,536,3,120.436821,8265.374549,0.20,Online,High,...,Wrong Item,Wire Transfer,False,West,Canada,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA",Product 53
1,321,2020-01-02 06:55:08.108108108,1078,523,6,475.724994,4047.850479,0.00,Reseller,Critical,...,Damaged,PayPal,True,South,Mexico,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA",Product 33
2,989,2020-01-06 08:12:58.378378378,1077,535,3,146.400556,5096.553818,0.05,Direct,Critical,...,Damaged,PayPal,True,West,Canada,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA",Product 6
3,682,2020-01-07 22:03:14.594594594,1027,546,6,19.373194,8194.281993,0.00,Reseller,Medium,...,Wrong Item,Cash,True,South,Canada,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA",Product 68
4,484,2020-01-07 07:08:06.486486486,1052,556,8,193.221313,8331.329249,0.20,Direct,Low,...,Late,Cash,False,South,Mexico,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA",Product 89

In [32]:
### Converting Date data type to datetime

ziko_df2["Date"] = pd.to_datetime(ziko_df2["Date"])

In [33]:
ziko_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   datetime64[ns]
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             1005 non-null   float64
 6   Total_Cost             1005 non-null   float64
 7   Discount_Rate          1005 non-null   float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          1005 non-null   object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(3), int64(4), object(15)
memory usage: 182.7+ KB

In [34]:
### Creating Tables

# Customer Table

customer = ziko_df2[[ "Customer_ID", "Customer_Name", "Customer_Phone", "Customer_Email", "Customer_Address"]].copy().drop_duplicates().reset_index(drop=True)

customer.head()

,Customer_ID,Customer_Name,Customer_Phone,Customer_Email,Customer_Address
0,1086,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA"
1,1078,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA"
2,1077,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA"
3,1027,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA"
4,1052,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA"

In [36]:

customer.shape

(1000, 5)

In [38]:
### Product Table

product = ziko_df2[[ "Product_ID", "Product_List_Title","Quantity", "Unit_Price", "Discount_Rate"]].copy().drop_duplicates().reset_index(drop=True)

product.head()

   Product_ID Product_List_Title  Quantity  Unit_Price  Discount_Rate
0         536         Product 53         3  120.436821           0.20
1         523         Product 33         6  475.724994           0.00
2         535          Product 6         3  146.400556           0.05
3         546         Product 68         6   19.373194           0.00
4         556         Product 89         8  193.221313           0.20

In [43]:
# Transaction_fact_table

transaction_fact = ziko_df2.merge( customer, on = ["Customer_ID", "Customer_Name", "Customer_Phone", "Customer_Email", "Customer_Address"], how = "left" ) \
                            .merge( product, on = ["Product_ID", "Product_List_Title","Quantity", "Unit_Price", "Discount_Rate"], how = "left" ) \
                            [['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Total_Cost', 'Sales_Channel','Order_Priority', 'Warehouse_Code', 'Ship_Mode', \
                            'Delivery_Status', 'Customer_Satisfaction', 'Item_Returned', 'Return_Reason','Payment_Type', 'Taxable', 'Region', 'Country' ]]

In [44]:
transaction_fact.head()

,Transaction_ID,Date,Customer_ID,Product_ID,Total_Cost,Sales_Channel,Order_Priority,Warehouse_Code,Ship_Mode,Delivery_Status,Customer_Satisfaction,Item_Returned,Return_Reason,Payment_Type,Taxable,Region,Country
0,200,2020-01-01 20:32:25.945945945,1086,536,8265.374549,Online,High,WH-3,2-Day,Cancelled,Neutral,False,Wrong Item,Wire Transfer,False,West,Canada
1,321,2020-01-02 06:55:08.108108108,1078,523,4047.850479,Reseller,Critical,WH-1,Overnight,Backorder,Satisfied,True,Damaged,PayPal,True,South,Mexico
2,989,2020-01-06 08:12:58.378378378,1077,535,5096.553818,Direct,Critical,WH-1,Overnight,Pending,Unsatisfied,True,Damaged,PayPal,True,West,Canada
3,682,2020-01-07 22:03:14.594594594,1027,546,8194.281993,Reseller,Medium,WH-1,Express,Pending,Unsatisfied,False,Wrong Item,Cash,True,South,Canada
4,484,2020-01-07 07:08:06.486486486,1052,556,8331.329249,Direct,Low,WH-2,2-Day,Delivered,Satisfied,True,Late,Cash,False,South,Mexico

In [47]:
# Temporary Loading

customer.to_csv(r"Dataset/customer.csv", index=False)
product.to_csv(r"Dataset/product.csv", index=False)
transaction_fact.to_csv(r"Dataset/transaction_fact.csv", index=False)

OSError: Cannot save file into a non-existent directory: 'Dataset'